<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:i@alexxd.com" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  
    <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/Alex-xd" title="@Alexxd 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>


  <!-- qq -->
  <li class="navigation__item">
    <a href="tencent://message/?menu=yes&uin=531237512&websitename=im.qq.com" title="@Alexxd 的qq" target="_self">
      <i class='social fa fa-qq'></i>
      <span class="label">QQ</span>
    </a>
  </li>



  <!-- zhihu -->
  <li class="navigation__item">
    <a href="https://www.zhihu.com/people/alexxd" title="@焖驴" target="_blank">
      <i class='social fa fa-comments'></i>
      <span class="label">Zhihu</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS订阅" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>



  </ul>
</nav>